
#closeIcon{
    align-self: flex-end;
    top:-24px;
    right: -24px;
}
#checkIcon{
    font-size: 'xxx-large';
    width: 100px;
    height: 50px;
    color: green;
  }
  #continueButton{
    margin-top: 20px;
    background-color: green;
    color: white;
  }
  
  #dialog{
    display: flex;
    flex-direction: column;
  }
  #dialogContent{
    justify-content: center;
    align-items: center;
    text-align: center;
  }