<input
  #camera
  type="file"
  id="input"
  accept="image/*"
  multiple="true"
  (change)="onFileSelected($event)"
  capture="camera"
  hidden="true"
/>
<button #cameraButton id="button" (click)="hasPermission?isMobile?camera.click():openDialog2():requestPermission()">
  open camera
</button>


<ng-template #permissionGrantedDialog>
  <button
    id="closeIcon"
    mat-icon-button
    aria-label="close dialog"
    mat-dialog-close
   >
    <mat-icon>close</mat-icon>
  </button>
  <div id="dialogContent">
  <mat-icon id="checkIcon" >task_alt</mat-icon>
  <p>
    Permission to access your camera granted, click continue to open camera and
    take a photo.
  </p>
  <button mat-raised-button mat-dialog-close (click)="camera.click()" id="continueButton">
    Continue
  </button>
</div>

</ng-template>
